a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h2,
h3,
h3,
h4,
h4,
h5,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

ul, ol {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

button {
	outline: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
	content: '';
	content: none;
}

a {
	text-decoration: none;
	color: #000;
}

img {
	max-width: 100%;
	display: block;
	object-fit: cover;
}


html {
	box-sizing: border-box;
	height: 100%;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

a,
input,
textarea {
	outline: none;
}

html,
body {
	position: relative;
	//overflow-x: hidden;
}

html {
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
}

a {
	display: inline-block;
	text-decoration: none;
}

ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}

body {
	height: 100%;
	//font-family: var(--mainFont);
	//font-family: "Open Sans", sans-serif;
	font-weight: 400;
	//font-size: 32px;
	//line-height: 1.4;
	// color: #000;
	// background-color: ;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
}

.k1-content {
	flex: 1 0 auto;

}

.footer {
	flex: 0 0 auto;
}

.container {
	max-width: 1230px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
	@media (max-width: $mediaL) {
		padding: 0 10px;

	}
}

.flex-body {
	display: flex;
	align-items: center;
}

.k1 {
	&--colored-red {
		color: $mainRed !important;
	}
}

.k1-btn {

	line-height: 1.4;
	font-size: 20px;

	border-radius: 5px;
	display: inline-block;

	a {
		font-size: inherit;
		line-height: inherit;
		color: #014898;

		padding: 14px 18px;
	}

	&--white {
		background-color: rgba(white, .4);
	}

	&--blue {
		background-color: #e4f4fe;
	}
}

.section-title {
	font-size: 60px;
	line-height: 83px;
	color: #014898;
	font-weight: bold;
	position: relative;
	@media (max-width: $mediaXXL) {
		font-size: 40px;
		line-height: 1.4;
	}
	@media (max-width: $mediaL) {
		font-size: 30px;
	}
	@media (max-width: $mediaM) {
		font-size: 30px;
	}
	&::before {
		content: "";
		position: absolute;
		top: 100%;
		left: 0;
		display: block;
		width: 100px;
		height: 6px;
		background-color: #e20613;;
	}
}

.main {
	max-width: 100vw;
	width: 100%;
	overflow-x: hidden;
}

// .section-description{
//   @include font(24px, 200, #000, 43px);
//   text-align: center;
// }
// .dft-link{
//   position: relative;
//   @include font(12px, 700, #000);
//   padding-right: 34px;
//   text-transform: uppercase;
//   &::after{
//     position: absolute;
//     content: '';
//     display: block;
//     top: -2px;
//     right: 0;
//     width: 24px;
//     height: 16px;
//     background-position: center;
//     background-size: contain;
//     background-repeat: no-repeat;
//   }
// }
// .bg-link{
//   @include font(16px, 700, #fff, 20px);
//   padding: 22px 90px;
//   text-transform: uppercase;
//   border: none;
//   &:hover{cursor: pointer;}
//   &--blue{background-color: $blue;}
// }
